<%= render 'layouts/errors', obj: @user %>

<h3>プロフィール編集</h3>
<%= form_with model: @user, local: true do |f| %>
  <label>Name</label><br>
  <%= f.text_field :name %><br>
  <label class="mt-3">Profile Image</label><br>
  <%= f.attachment_field :profile_image, placeholder: 'プロフィール画像' %><br>
  <%= f.submit '変更を保存', class: 'mt-4' %>
<% end %>